.loginframe {height: 350px;}
/*标题*/
.logintitle {font-weight: bold;width: 1004px;border-bottom: #5f86e0 3px solid;line-height: 40px;}

/*左边*/
.loginleft {
    float: left;
    width: 610px;
    height: 300px;
}

.loginline,.validate{
    width: 574px;
    border: 0px;
    height: 50px;
    border-bottom: #ccc 1px dotted;
}
.day{
    width: 574px;
    border: 0px;
    height: 60px;
    border-bottom: #ccc 1px dotted;
    padding-left:80px;
}

.loginline input {
    width: 144px;
}

.loginline label,.validate label {
    width: 100px;
    font-size: 12pt;
    text-align: right;
    display: inline-block;
}
/*验证码输入框*/
.validate input {
    width: 90px;
}
/*登录按钮*/
.loginline .login
{
    margin-left:80px;
}
/*右边*/
.loginright {
    float: right;
    width: 350px;
    height: 300px;
    text-align: center;
}

.loginright .welcome {
    font-size: 12pt;
    font-weight: bold;
}

.loginright .websitname {
    font-size: 12pt;
    font-weight: bold;
}